<<<<<<< Updated upstream
﻿
@{
    ViewBag.Title = "Dashboard";
}
<section>
    <div class="row">
        <div class="col-md-2 bg-primary">
            @Html.ActionLink("Home", "Index", "Resume")
            @Html.ActionLink("Details", "Index", "Resume")
            @Html.ActionLink("About", "Resume")
            @Html.ActionLink("Resume Themes", "Resume")
            @Html.ActionLink("Home", "Index", "Resume")
        </div>
        <div class="col-md-10 bg-secondary">
            33
        </div>
=======
﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
<<<<<<< Updated upstream
  
=======
    var userId = Session["userid"];
    
>>>>>>> Stashed changes
}
<input type="hidden"  id="userId" />
<div class="sidenav col-md-2">
    <div class="text-secondary mt-5">
        <a href="" class="js-edit">
            <i class="fa fa-edit mr-3"> </i>
            Edit
        </a>
>>>>>>> Stashed changes
    </div>
</section>