@model ResumeBuilder.Models.ViewModel.UserResumeVM

@{
    Layout = null;
}
<div class="alert alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong class="alert-message"></strong>
</div>
@*<div class="my-toast">
        <div class="toast-header">
            <strong class="mr-auto"><i class="fab fa-grav" aria-hidden="true"></i> Hello @Model.FirstName @Model.LastName!</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
                <span aria-hidden="true">&times;</span>
            </button>
            haha
        </div>
        <div class="toast-body">
            <div class="toast-message"></div>
        </div>
    </div>*@
<div class="container-fluid bg-light mt-5 mb-5 w-100 p-3">
    <h2 class="text-center show-resume-info">@Model.ResumeName</h2>
    <div>
        <h3 class="mb-2">Basic Information</h3>
        <div class="ml-3">
            <p>Name : <span class="show-name">@Model.FirstName  @Model.LastName</span> </p>
            <p>Email : <span class="show-email">@Model.Email</span></p>
            <p>Phone Number : <span class="show-phone-number">@Model.PhoneNumber</span> </p>
            <p>Alternate Phone Number : <span class="show-alt-phone-number">@Model.AlternatePhoneNumber</span> </p>
        </div>
        <a class="list-group-item list-group-item-action bg-info rounded p-md-2 mb-2 ajax-basicInfomodal" data-toggle="modal" data-target=".basicInfomodal">Basic Info<i class="fa fa-edit pl-3 float-right mt-1"></i></a>
    </div>
    <hr />
    <div>
        <h3>Summary</h3>
        <div>
            <p class="text-secondary show-summary-info">@Model.Summary</p>
        </div>
        <a class="list-group-item list-group-item-action bg-info rounded p-md-2 mb-2 " data-toggle="modal" data-target=".summaryModal">Summary<i class="fa fa-edit pl-3 float-right mt-1"></i></a>
    </div>
    <hr />
    <div>
        <h3>Education</h3>
        <div class="js-education-details">
            @foreach (var userEducation in Model.Education)
            {
                <div class="row text-secondary">
                    <hr width="90%" />
                    <div class="col-md-10 col-sm-8">
                        <p> @userEducation.Score @userEducation.CGPAorPercentage in @userEducation.EducationLevel </p>
                        <p>@userEducation.YearOfPassing</p>
                        <p> @userEducation.Stream </p>
                        <p>@userEducation.Institution</p>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <button class="btn btn-sm btn-primary"><i class="fa fa-edit text-white js-edit-education" data-education-id="@userEducation.EduID"></i></button>
                        <button class="btn btn-sm btn-danger"><i class="fa fa-trash-alt text-white js-delete-education" data-education-id="@userEducation.EduID"></i></button>
                    </div>
                </div>
            }
        </div>
        <a class="list-group-item list-group-item-action bg-info rounded p-md-2 mb-2 " data-toggle="modal" data-target=".educationModal">Education<i class="fa fa-edit pl-3 float-right mt-1"></i></a>
    </div>
    <hr />
    <div>
        <h3>Work Experience</h3>
        <div class="js-work-experience-details">
            @foreach (var userWorkExperience in Model.WorkExperience)
            {
                <div class="row">
                    <hr width="90%" />
                    <div class="col-md-10 col-sm-8">
                        <p>
                            <b> @userWorkExperience.Designation </b> at <b> @userWorkExperience.Organization </b>
                            <br />
                            <b> @String.Format("{0:dd/MM/yyyy}", @userWorkExperience.FromYear) </b> - <b>
                                @if (userWorkExperience.CurrentlyWorking == false)
                                {
                                    @String.Format("{0:dd/MM/yyyy}", @userWorkExperience.ToYear) }
                                else
                                { @Html.Raw("Current") }
                            </b>
                        </p>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <button class="btn btn-sm btn-primary"><i class="fa fa-edit text-white js-edit-workexp" data-workexp-id="@userWorkExperience.ExpId"></i></button>
                        <button class="btn btn-sm btn-danger"><i class="fa fa-trash-alt text-white js-delete-workexp" data-workexp-id="@userWorkExperience.ExpId"></i></button>
                    </div>
                </div>
            }
        </div>
        <a class="list-group-item list-group-item-action bg-info rounded p-md-2 mb-2 " data-toggle="modal" data-target=".workExperienceModal">Add Work Experience<i class="fa fa-edit pl-3 float-right mt-1"></i></a>
    </div>
    <hr />
    <div>
        <h3>Projects</h3>
        <div class="js-project-details">
            @foreach (var userProject in Model.Project)
            {
                <div class="row">
                    <hr width="90%" />
                    <div class="col-md-10 col-sm-8 ">
                        <h5>@userProject.ProjectName</h5>
                        <p>Duration @userProject.DurationInMonth months</p>
                        <p>@userProject.ProjectDetails</p>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <button class="btn btn-sm btn-primary"><i class="fa fa-edit text-white js-edit-project" data-project-id="@userProject.ProjectID"></i></button>
                        <button class="btn btn-sm btn-danger"><i class="fa fa-trash-alt text-white js-delete-project" data-project-id="@userProject.ProjectID"></i></button>
                    </div>
                </div>
            }
        </div>
        <a class="list-group-item list-group-item-action bg-info rounded p-md-2 mb-2 " data-toggle="modal" data-target=".projectModal">Add Projects<i class="fa fa-edit pl-3 float-right mt-1"></i></a>
    </div>
    <hr />
    <div>
        <h3>Language</h3>
        <div class="js-language-details">
            @foreach (var userlanguages in Model.Language)
            {
                <span class="btn btn-primary mt-1">@userlanguages.LanguageName <i class="fa fa-times js-delete-language text-danger" data-language-id="@userlanguages.LanguageID"> </i> </span>
            }
        </div>
        <a class="list-group-item list-group-item-action bg-info rounded p-md-2 mb-2 mt-2" data-toggle="modal" data-target=".languageModal">Add Languages<i class="fa fa-edit pl-3 float-right mt-1"></i></a>
    </div>
    <hr />
    <div>
        <h3>Skills</h3>
        <div class="js-skill-details">
            @foreach (var userSkills in Model.Skill)
            {
                <span class="btn btn-primary mt-1">@userSkills.SkillName <i class="fa fa-times js-delete-skill text-danger" data-skill-id="@userSkills.SkillID"> </i> </span>
            }
        </div>
        <a class="list-group-item list-group-item-action bg-info rounded p-md-2 mb-2 mt-2 " data-toggle="modal" data-target=".skillModal">Add Skills<i class="fa fa-edit pl-3 float-right mt-1"></i></a>
    </div>
</div>


<!-- Modals -->

<div class="modal fade basicInfomodal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Basic Information</h4>
                <button type="submit" class="close text-danger" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {
                    <div class="row">
                        <div class="col">
                            @Html.LabelFor(x => x.FirstName)
                            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                            <small class="text-danger validation-message"></small>
                        </div>
                        <div class="col">
                            @Html.LabelFor(x => x.LastName)
                            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                            <small class="text-danger validation-message"></small>
                        </div>
                    </div>
                    <div class="mb-2">
                        @Html.LabelFor(x => x.Email)
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Email" })
                        <small class="text-danger validation-message"></small>
                    </div>
                    <div class="mb-2">
                        @Html.LabelFor(x => x.PhoneNumber)
                        @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", @placeholder = "Phone Number", @maxlength = 12, @autocomplete = "off" })
                        <small class="text-danger validation-message"></small>
                    </div>
                    <div class="mb-4">
                        @Html.LabelFor(x => x.AlternatePhoneNumber)
                        @Html.TextBoxFor(x => x.AlternatePhoneNumber, new { @class = "form-control", @placeholder = "Alternate Phone Number", @maxlength = 12, @autocomplete = "off", @required = "required" })
                        <small class="text-danger validation-message"></small>
                    </div>
                    <button type="button" class="mt-2 btn btn-sm btn-success ajax-change save-basic-info">SAVE</button>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade summaryModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Summary</h4>
                <button type="submit" class="close text-danger" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        @Html.LabelFor(x => x.ResumeName)
                        @Html.TextBoxFor(x => x.ResumeName, new { @class = "form-control", @placeholder = "Resume Name" })
                        <small class="text-danger validation-message"></small>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Summary)
                        @Html.TextAreaFor(x => x.Summary, new { @class = "form-control", @placeholder = "Summary" })
                        <small class="text-danger validation-message"></small>
                    </div>
                    <button type="button" class="mt-2 btn btn-sm btn-success ajax-change save-summary-info btn-save">SAVE</button>
                }
            </div>
        </div>
    </div>
</div>


<!--Education Modal-->
<div class="modal fade educationModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Education</h4>
                <button type="submit" class="close text-danger" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form method="post" class="education-form">
                    <div class="form-group mt-2">
                        <div class="js-education-id" hidden value=""></div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-check-label ml-4"></label>
                                    <input type="radio" class="form-check-input" name="EducationLevel" value="10th" />10th
                            </div>
                            <div class="col-md-3">
                                <label class="form-check-label ml-4"></label>
                                    <input type="radio" class="form-check-input" name="EducationLevel" value="12th" />12th
                            </div>
                            <div class="col-md-3">
                                <label class="form-check-label ml-4"></label>
                                    <input type="radio" class="form-check-input" name="EducationLevel" value="Graduation" />Graduation
                            </div>
                            <div class="col-md-3">
                                <label class="form-check-label ml-4"></label>
                                    <input type="radio" class="form-check-input" name="EducationLevel" value="Post Graduation" />Post Graduation
                            </div>
                            <small class="text-danger validation-message education-error"></small>
                        </div>
                        <div class="input-group mt-2">
                            <input type="text" class="form-control" name="YearOfPassing" placeholder="Year of Passing" required />
                            <small class="text-danger validation-message"></small>
                        </div>
                        <div class="mt-3 ml-2 mb-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-check-label"></label>
                                        <input type="radio" class="form-check-input" name="CGPAorPercentage" value="CGPA" />CGPA
                                </div>
                                <div class="col-md-6">
                                    <label class="form-check-label"></label>
                                        <input type="radio" class="form-check-input" name="CGPAorPercentage" value="Percent" />Percentage
                                </div>
                                <small class="text-danger cgpa-error validation-message"></small>
                            </div>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" name="Score" placeholder="Marks Obtained" required />
                            <small class="text-danger validation-message"></small>
                        </div>
                        <div class="input-group mt-3">
                            <input type="text" class="form-control" name="Stream" placeholder="STREAM" required />
                            <small class="text-danger validation-message"></small>
                        </div>
                        <div class="input-group mt-3">
                            <input type="text" class="form-control" name="Board" placeholder="BOARD" required />
                            <small class="text-danger validation-message"></small>
                        </div>
                        <div class="input-group mt-3">
                            <input type="text" class="form-control" name="Institution" placeholder="UNIVERSITY" required />
                            <small class="text-danger validation-message"></small>
                        </div>
                    </div>
                    <button type="submit" class="mt-2 btn btn-sm btn-success save-education-info btn-save">SAVE</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Work Experience Modal-->
<div class="modal fade workExperienceModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Work Experience</h4>
                <button type="submit" class="close text-danger" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="workExp-form">
                    <input class="js-work-experience-id" hidden value="" />
                    <div class="form-group">
                        <input type="text" class="form-control mb-4" name="organization" placeholder="Organization" required />
                        <small class="text-danger validation-message"></small>
                        <input type="text" class="form-control" name="designation" placeholder="Designation" required />
                        <small class="text-danger validation-message"></small>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label class="form-label">From</label>
                            <input class="form-control" type="date" name="fromDate" id="fromDate" placeholder="From Year" />
                            <small class="text-danger validation-message"></small>
                        </div>
                        <div class="col-md-6" id="toYear">
                            <label class="form-label">To</label>
                            <input class="form-control" type="date" id="toDate" name="toDate" placeholder="To Year" />
                            <small class="text-danger validation-message"></small>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="checkbox-inline">Current <input type="checkbox" id="currentWork" value="Current"></label>
                    </div>
                    <button type="submit" class="mt-2 btn btn-sm btn-success save-work save-workExp">SAVE</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Project Modal -->
<div class="modal fade projectModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Project</h4>
                <button type="submit" class="close text-danger" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="project-form">
                    <input class="js-project-id" hidden value="" />
                    <div class="mt-3 mb-3">
                        <input type="text" class="form-control mt-3" name="projectName" placeholder="Project Name" required />
                        <small class="text-danger validation-message"></small>
                        <textarea class="form-control mt-3" name="projectDetails" rows="3" cols="50" placeholder="Project Details"></textarea>
                        <small class="text-danger validation-message"></small>
                        <input type="text" class="form-control mt-3" name="projectRole" placeholder="Project Role" required />
                        <small class="text-danger validation-message"></small>
                        <div class="input-group mt-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="projectDuration">Project Duration ( Months )</label>
                            </div>
                            <select class="custom-select project-duration" id="projectDuration">
                                @{
                                    for (int i = 0; i <= 100; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                            <br />
                            <small class="text-dange validation-message"></small>
                        </div>
                    </div>
                    <button type="submit" class="mt-2 btn btn-sm btn-success save-work save-project">SAVE</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Skills Modal -->
<div class="modal fade skillModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Skills</h4>
                <button type="button" class="close text-danger" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="skills-form">
                    <div class="js-skill-id" hidden value=""></div>
                    <div class="mt-3 mb-3">
                        <input type="text" class="form-control" name="skill" placeholder="Add Skills" required />
                        <small class="text-danger validation-message"></small>
                    </div>
                    <button type="submit" class="mt-2 btn btn-sm btn-success save-work save-skill">SAVE</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Language Modal -->
<div class="modal fade languageModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Languages</h4>
                <button type="submit" class="close text-danger" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="language-form">
                    <div class="js-language-id" hidden value=""></div>
                    <div class="mt-3 mb-3">
                        <input type="text" class="form-control" name="language" placeholder="Add Language" required />
                        <small class="text-danger validation-message"></small>
                    </div>
                    <button type="submit" class="mt-2 btn btn-sm btn-success save-work save-language">SAVE</button>
                </form>
            </div>
        </div>
    </div>
</div>