@model ResumeBuilder.Models.ViewModel.UserResumeVM

@{
    Layout = null;
}
<div class="container-fluid bg-light mt-5 mb-5 w-100 p-3">
    <h2 class="text-center show-resume-info">@Model.ResumeName</h2>
    <div>
        <h3 class="mb-2">Basic Information</h3>
        <div class="ml-3">
            <p>Name : <span class="show-name">@Model.FirstName  @Model.LastName</span> </p>
            <p>Email : <span class="show-email">@Model.Email</span></p>
            <p>Phone Number : <span class="show-phone-number">@Model.PhoneNumber</span> </p>
            <p>Alternate Phone Number : <span class="show-alt-phone-number">@Model.AlternatePhoneNumber</span> </p>
        </div>
        <a class="list-group-item list-group-item-action bg-info rounded p-md-2 mb-2 ajax-basicInfomodal" data-toggle="modal" data-target=".basicInfomodal">Basic Info<i class="fa fa-edit pl-3 float-right mt-1"></i></a>
    </div>
    <hr />
    <div>
        <h3>Summary</h3>
        <div>
            <p class="text-secondary show-summary-info">@Model.Summary</p>
        </div>
        <a class="list-group-item list-group-item-action bg-info rounded p-md-2 mb-2 " data-toggle="modal" data-target=".summaryModal">Summary<i class="fa fa-edit pl-3 float-right mt-1"></i></a>
    </div>
    <hr />
    <div>
        <h3>Education</h3>
            @foreach(var userEducation in Model.Education){
               <p>
                   <b>@userEducation.Score in @userEducation.EducationLevel </b>
                   <br />
                   <b>Stream : @userEducation.Stream </b>
                   <br />
                   <b>Board :@userEducation.Board </b>
                   <br />
                   <b> University/School : @userEducation.Institution </b>
               </p>
            }
        <a class="list-group-item list-group-item-action bg-info rounded p-md-2 mb-2 " data-toggle="modal" data-target=".educationModal">Education<i class="fa fa-edit pl-3 float-right mt-1"></i></a>
    </div>
    <hr />
    <div>
        <h3>Work Experience</h3>
        <a class="list-group-item list-group-item-action bg-info rounded p-md-2 mb-2 " data-toggle="modal" data-target=".workexperienceModal">Work Experience<i class="fa fa-edit pl-3 float-right mt-1"></i></a>
    </div>
    <hr />
    <div>
        <h3>Projects</h3>
        <a class="list-group-item list-group-item-action bg-info rounded p-md-2 mb-2 " data-toggle="modal" data-target=".projectModal">Projects<i class="fa fa-edit pl-3 float-right mt-1"></i></a>
    </div>
    <hr />
    <div>
        <h3>Language</h3>
        <a class="list-group-item list-group-item-action bg-info rounded p-md-2 mb-2 " data-toggle="modal" data-target=".languageModal">Languages<i class="fa fa-edit pl-3 float-right mt-1"></i></a>
    </div>
    <hr />
    <div>
        <h3>Skills</h3>
        <a class="list-group-item list-group-item-action bg-info rounded p-md-2 mb-2 " data-toggle="modal" data-target=".skillModal">Skills<i class="fa fa-edit pl-3 float-right mt-1"></i></a>
    </div>
</div>


<!-- Modals -->

<div class="modal fade basicInfomodal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Basic Information</h4>
                <button type="button" class="close text-danger" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {
                    <div class="row">
                        <div class="col">
                            @Html.LabelFor(x => x.FirstName)
                            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                            @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
                        </div>
                        <div class="col">
                            @Html.LabelFor(x => x.LastName)
                            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                            @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="mb-2">
                        @Html.LabelFor(x => x.Email)
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Email" })
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-2">
                        @Html.LabelFor(x => x.PhoneNumber)
                        @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", @placeholder = "Phone Number", @maxlength = 12, @autocomplete = "off" })
                        @Html.ValidationMessageFor(x => x.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-4">
                        @Html.LabelFor(x => x.AlternatePhoneNumber)
                        @Html.TextBoxFor(x => x.AlternatePhoneNumber, new { @class = "form-control", @placeholder = "Alternate Phone Number", @maxlength = 12, @autocomplete = "off", @required = "required" })
                        @Html.ValidationMessageFor(x => x.AlternatePhoneNumber, "", new { @class = "text-danger" })
                    </div>
                    <button type="submit" class="mt-2 btn btn-sm btn-success ajax-change save-basic-info">SAVE</button>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade summaryModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Summary</h4>
                <button type="button" class="close text-danger" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        @Html.LabelFor(x => x.ResumeName)
                        @Html.TextBoxFor(x => x.ResumeName, new { @class = "form-control", @placeholder = "Resume Name" })
                        @Html.ValidationMessageFor(x => x.ResumeName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Summary)
                        @Html.TextAreaFor(x => x.Summary, new { @class = "form-control", @placeholder = "Summary" })
                        @Html.ValidationMessageFor(x => x.Summary, "", new { @class = "text-danger" })
                    </div>
                    <button type="button" class="mt-2 btn btn-sm btn-success ajax-change save-summary-info btn-save">SAVE</button>
                }
            </div>
        </div>
    </div>
</div>


<!--Education Modal-->
<div class="modal fade educationModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Education</h4>
                <button type="button" class="close text-danger" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form method="post" class="education-form">
                    <div class="form-group mt-2">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-check-label ml-4">
                                    <input type="radio" class="form-check-input" name="EducationLevel" value="10th" />10th
                                </label>
                            </div>
                            <div class="col-md-3">
                                <label class="form-check-label ml-4">
                                    <input type="radio" class="form-check-input" name="EducationLevel" value="12th" />12th
                                </label>
                            </div>
                            <div class="col-md-3">
                                <label class="form-check-label ml-4">
                                    <input type="radio" class="form-check-input" name="EducationLevel" value="Graduation" />Graduation
                                </label>
                            </div>
                            <div class="col-md-3">
                                <label class="form-check-label ml-4">
                                    <input type="radio" class="form-check-input" name="EducationLevel" value="Post Graduation" />Post Graduation
                                </label>
                            </div>
                        </div>
                        <div class="mt-3 mb-3">
                            <input type="date" class="form-control" name="YearOfPassing" placeholder="Year of Passing" />
                        </div>
                        
                        <div class="input-group">
                            <input type="text" class="form-control" name="Score" placeholder="Marks Obtained" />
                            <input type="text" class="form-control" name="Stream" placeholder="STREAM" />
                        </div>
                        <div class="input-group mt-3">
                            <input type="text" class="form-control" name="Board" placeholder="BOARD" />
                            <input type="text" class="form-control" name="Institution" placeholder="UNIVERSITY" />
                        </div>
                    </div>
                    <button type="submit" class="mt-2 btn btn-sm btn-success save-education-info btn-save">SAVE</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Work Experience Modal-->
<div class="modal fade workexperienceModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Work Experience</h4>
                <button type="button" class="close text-danger" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="workExp-form">
                    <div class="form-group">
                        <input type="text" class="form-control mb-4" placeholder="Organization" />
                        <input type="text" class="form-control" placeholder="Designation" />
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label class="form-label">From</label>
                            <input class="form-control" type="text" placeholder="From Year" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">To</label>
                            <input class="form-control" type="text" placeholder="To Year" />
                        </div>
                    </div>
                    <button type="button" class="mt-2 btn btn-sm btn-success save-work btn-save">SAVE</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Project Modal -->
<div class="modal fade projectModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Project</h4>
                <button type="button" class="close text-danger" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="projects-form">
                    <div class="mt-3 mb-3">
                        <input type="text" class="form-control mt-3" name="projectName" placeholder="Project Name" />
                        <textarea class="form-control mt-3" name="projectDetails" rows="3" cols="50" placeholder="Project Details"></textarea>
                        <input type="text" class="form-control mt-3" name="projectRole" placeholder="Project Role" />
                        <div class="input-group mt-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="projectDuration">Project Duration ( Months )</label>
                            </div>
                            <select class="custom-select project-duration" id="projectDuration"></select>
                        </div>
                    </div>
                    <button type="button" class="mt-2 btn btn-sm btn-success save-work btn-save">SAVE</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Skills Modal -->
<div class="modal fade skillModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Skills</h4>
                <button type="button" class="close text-danger" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="skills-form">
                    <div class="mt-3 mb-3">
                        <input type="text" class="form-control" name="skill" placeholder="Add Skills" />
                    </div>
                    <button type="button" class="mt-2 btn btn-sm btn-success save-work btn-save">SAVE</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Language Modal -->
<div class="modal fade languageModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Languages</h4>
                <button type="button" class="close text-danger" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="language-form">
                    <div class="mt-3 mb-3">
                        <input type="text" class="form-control" name="language" placeholder="Add Language" />
                    </div>
                    <button type="button" class="mt-2 btn btn-sm btn-success save-work btn-save">SAVE</button>
                </form>
            </div>
        </div>
    </div>
</div>
