@model ResumeBuilder.Models.ViewModel.IndexVM
@{
    ViewBag.Title = "Login";
}
@section loginStylesheet {
    <link rel="stylesheet" href="~/Content/Login.css" />
}
<div class="login-page">
    <div class="form">
        @Html.ValidationSummary()
        <form class="register-form" action="/Resume/Register" method="post" novalidate="novalidate">


            <div class="form-horizontal">
                <div class="form-group">
                    <i class="fa fa-user"></i>
                    @Html.LabelFor(x => x.RegisterModel.RegisterUsername)
                    @Html.TextBoxFor(x => x.RegisterModel.RegisterUsername, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.RegisterModel.RegisterUsername, "", new { @class = "text-red" })
                </div>
                <div class="form-group">
                    <i class="fa fa-lock"></i>
                    @Html.LabelFor(x => x.RegisterModel.RegisterPassword)
                    @Html.PasswordFor(x => x.RegisterModel.RegisterPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.RegisterModel.RegisterPassword, "", new { @class = "text-red" })
                </div>
                <div class="form-group">
                    <i class="fa fa-lock"></i>
                    @Html.LabelFor(x => x.RegisterModel.RegisterConfirmPassword)
                    @Html.PasswordFor(x => x.RegisterModel.RegisterConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.RegisterModel.RegisterConfirmPassword, "", new { @class = "text-red" })
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"> <i class="fa fa-sign-in-alt pr-2"></i> Register</button>
                </div>
            </div>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>

        <form class="login-form" action="/Resume/Login" method="post" novalidate="novalidate">

            <div class="form-horizontal">
                <div class="form-group">
                    <i class="fa fa-user"></i>
                    @Html.LabelFor(x => x.LoginModel.Username)
                    @Html.TextBoxFor(x => x.LoginModel.Username, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.LoginModel.Username, "", new { @class = "text-red" })
                </div>
                <div class="form-group">
                    <i class="fa fa-lock"></i>
                    @Html.LabelFor(x => x.LoginModel.Password)
                    @Html.PasswordFor(x => x.LoginModel.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.LoginModel.Password, "", new { @class = "text-red" })
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"> <i class="fa fa-sign-in-alt pr-2"></i> Login</button>
                </div>
            </div>

            <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form>
    </div>
</div>
<footer class="fixed-bottom text-center text-white">
    Make RESUMES With <i class="fa fa-heart text-red"></i>
</footer>