@model ResumeBuilder.Models.ViewModel.UserResumeVM
@{
    Layout = null;
}

<label class="bg-primary float-right p-2 rounded position-fixed download-template"><i class="fas fa-download"></i>Download</label>
<div class="top">
    <div id="cv" class="instaFade">
        <div class="mainDetails">
            <div id="headshot" class="quickFade">

            </div>

            <div id="name">
                <h1 class="quickFade delayTwo">@Model.FirstName @Model.LastName</h1>
                <h3 class="quickFade delayThree">Software Developer</h3>
            </div>

            <div id="contactDetails" class="quickFade delayFour">
                <ul>
                    <li>e: <a href=@Model.Email +"" target="_blank">@Model.Email</a></li>
                    <li>m: @Model.PhoneNumber</li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>

        <div id="mainArea" class="quickFade delayFive">
            <section>
                <article>
                    <div class="sectionTitle">
                        <h1 class="names">@Model.ResumeName</h1>
                    </div>

                    <div class="sectionContent">
                        <p>@Model.Summary</p>
                    </div>
                </article>
                <div class="clear"></div>
            </section>

            <section>
                <div class="sectionTitle">
                    <h1 class="names">Education</h1>
                </div>

                <div class="sectionContent">
                    @foreach (var item in @Model.Education)
                    {
                        <article>
                            <h2>@item.Institution</h2>
                            <h1 class="subDetails">@item.EducationLevel ( @item.Board )</h1>
                            <p>@item.Stream</p>
                            <p>Secured: @item.Score</p>
                        </article>
                    }


                </div>
                <div class="clear"></div>
            </section>

            <section>
                <div class="sectionTitle">
                    <h1 class="names">Projects</h1>
                </div>

                <div class="sectionContent">
                    @foreach (var item in @Model.Project)
                    {
                        <article>
                            <h2>@item.ProjectName</h2>
                            <h6>Role: @item.YourRole</h6>
                            <p>@item.ProjectDetails</p>
                        </article>
                    }

                </div>
                <div class="clear"></div>
            </section>

            <section>
                <div class="sectionTitle">
                    <h1 class="names">Work Experience</h1>
                </div>

                <div class="sectionContent">
                    @foreach (var item in @Model.WorkExperience)
                    {
                        <article>
                            <h2>@item.Organization</h2>
                            <p class="subDetails">@item.FromYear.Value.ToString("MM/dd/yyyy") - @item.ToYear.Value.ToString("MM/dd/yyyy")</p>
                            <p>@item.Designation</p>
                        </article>
                    }

                </div>
                <div class="clear"></div>
            </section>

            <section>
                <div class="sectionTitle">
                    <h1 class="names">Key Skills</h1>
                </div>

                <div class="sectionContent">
                    <ul class="keySkills">
                        @foreach (var item in @Model.Skill)
                        {
                            <li>@item.SkillName</li>
                        }
                    </ul>

                </div>
                <div class="clear"></div>
            </section>

        </div>
    </div>

</div>
