@model ResumeBuilder.Models.ViewModel.UserResumeVM
@{
    Layout = null;
}

<title>One Page Resume</title>
<label class="bg-primary float-right p-2 rounded position-fixed download-template"><i class="fas fa-download"></i>Download</label>

<div id="page-wrap" class="bg-light p-3">

    <div id="contact-info" class="vcard">

        <!-- Microformats! -->

        <h1 class="fn mb-2 boldhead">@Model.FirstName @Model.LastName</h1>
        
        @if (@Model.PhoneNumber.Count() != 0) { 
            <p>
                Cell: <span class="tel">@Model.PhoneNumber</span><br />
                Email: <a class="email" href=@Model.Email +"">@Model.Email</a>
            </p>
        }
    </div>

    <div id="objective">
        @if (@Model.Summary.Count() != 0) { 
            <p>@Model.Summary</p>
        }
    </div>

    <div class="clear"></div>

    <dl>
        <dd class="clear"></dd>
        @if (@Model.Education.Count() != 0) { 
            <dt>Education</dt>
            <dd>
                @foreach (var item in @Model.Education)
                {
                    
                    <h2 class="font-weight-bold heading">@item.Institution <span>@item.YearOfPassing</span></h2>
                    <label>Board/University: @item.Board </label>
                    <p>
                        <strong>Education Level:</strong> @item.EducationLevel<br />
                        <strong>CGPA or Percentage:</strong> @item.Score
                    </p>
          
                }
                
            </dd>
        }

        <dd class="clear"></dd>

        @if (@Model.WorkExperience.Count() != 0)
        {
            <dt>Experience</dt>
            <dd>
                @foreach (var item in @Model.WorkExperience)
                {
                    <h2 class="font-weight-bold heading">@item.Organization <span>@item.FromYear.Value.ToString("MM/dd/yyyy") - @item.ToYear.Value.ToString("MM/dd/yyyy")</span></h2>
                    <div>Designation - @item.Designation</div>
                }

            </dd>
        }
        <dd class="clear"></dd>


        @if (@Model.Project.Count() != 0) { 
            <dt>Projects</dt>
            <dd>
                @foreach (var item in @Model.Project)
                {
                    <h2 class="font-weight-bold heading">@item.ProjectName </h2>
                    <h5>( @item.YourRole )</h5>
                    <div>About Project : @item.ProjectDetails</div>
                }

            </dd>
        }
        <dd class="clear"></dd>

        @if (@Model.Skill.Count() != 0)
        {
            <dt>Skills</dt>
            foreach (var item in @Model.Skill)
            {
               <dd>@item.SkillName </dd>
            }
        }
        <dd class="clear"></dd>

        @if (Model.Language.Count() != 0) { 
            <dt>Languages Known</dt>
            
            foreach (var item in @Model.Language)
            {
                <dd>@item.LanguageName</dd>
            }
        }

    </dl>

    <div class="clear"></div>
    
</div>


